<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <title>Results</title>
</head>
<body>
    <div class="container" style="width: 75%; margin-top: 50px;">
        <div>
            <h1><span th:text="${#strings.capitalize(#authentication.name)}"></span>'s Weight lifting results</h1>
        </div>
        <table class="table table-striped">
            <tr>
                <th>Exercise</th>
                <th>Weight</th>
                <th>Reps</th>
                <th>Sets</th>
                <th>RPE</th>
                <th>Date</th>
                <th></th>
                <th></th>
            </tr>
            <tr th:each="result : ${results}">
                <td th:text="${result.exercise.name}"></td>
                <td th:text="${result.weight}"></td>
                <td th:text="${result.amountOfReps}"></td>
                <td th:text="${result.amountOfSets}"></td>
                <td th:text="${result.rpe}"></td>
                <td th:text="${result.date}"></td>
                <td>
                    <form th:action="@{/delete/{id}(id=${result.id})}" method="get"> 
                        <button type="submit" class="btn btn-danger"> Delete</button>
                    </form>
                </td>
                <td>
                    <form th:action="@{/edit/{id}(id=${result.id})}" method="get">
                        <button type="submit" class="btn btn-warning">Edit</button>
                    </form>
                </td>
            </tr>
        </table>
        <div style="display: flex; justify-content: center; gap: 10px;">
            <form action="/add" method="get">
                <button type="submit" class="btn btn-primary">Add new Result</button>
            </form>
            <!-- Rajaa alla oleva koodi vain adminille -->
            <form sec:authorize="hasAuthority('ADMIN')" action="/addexerc" method="get">
                <button type="submit" class="btn btn-primary">Add new Exercise</button>
            </form>
            <!-- Rajaa alla oleva koodi vain adminille -->
            <form sec:authorize="hasAuthority('ADMIN')" action="/addcategory" method="get">
                <button type="submit" class="btn btn-primary">Add new Category</button>
            </form>
        </div>
    </div>
    
</body>
</html>